@import "src/styles/base";

.cp-chart-wrapper {
    position: relative;
    display: block;
}
.cp-chart-date-wrapper {
    display: flex;
    background: $bg-color-darker;
    padding: 20px;

    .cp-chart-date {
        cursor: pointer;
        background: #211c4a;
        padding: 5px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        transition: 0.15s ease-in-out;

        &:hover,
        &.active {
            transform: scale(1.1);
            color: $text-highlight-gold;
        }

        &:not(:last-child) {
            margin-right: 18px;
        }
    }
}
.crypto-chart {
    height: calc(100vh - 80px);
}
