/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3d4760;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0c101a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #070a10;
}
